body{
    color:black;
    font-family: 'Lato', sans-serif;
}

/* ---- Set up site grid --- */

.wrapper {
    display: grid;
    grid-template-columns: 300px 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header"
        "nav nav nav"
        "main main aside"
        "footer footer footer";
    grid-gap: 4px;
}

header {
    grid-area: header;
    background-color: #4e4032; /* --- dark brown --- */
    color: white;
}

nav {
    grid-area: nav;
    background-color: #b3a48b; /* --- light brown --- */
    color: black;
}

main {
    grid-area: main;
    background-color: #d5c5af; /* --- beige --- */
    color: black;
}

aside {
    grid-area: aside;
    background-color: #b3a48b; /* --- dark brown --- */
    color: black;
}

footer {
    grid-area: footer;
    background-color: #4e4032; /* --- dark brown --- */
    color: white;
    text-align: right;
}

/* ---- General formatting --- */


.box {
    padding: 20px;
    border-radius: 10px;
}

h1, h2, h3 {
    font-family: 'Libre Baskerville', serif;
}

h1 {
    font-size: 300%;
}

/* ---- Drop Down Menu ---- */
/* Style The Dropdown Button */
.dropbtn {
      background-color: #a8977a;
      color: black;   /* very dark green */
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
    }
    
    /* The container <div> - needed to position the dropdown content */
    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    /* Dropdown Content (Hidden by Default) */
    /* Customised from https://www.w3schools.com/css/css_dropdowns.asp */
    
    .littlearrow {
        font-size: 75%;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #b3a48b;    /* light brown */
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    /* Links inside the dropdown */
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: #d5c5af}   /* beige */
    
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
      display: block;
    }
    
    /* Change the background color of the dropdown button when the dropdown content is shown */
    /* .dropdown:hover .dropbtn {
      background-color: #3e8e41;
    } */